# PostgreSQL
POSTGRES_DB=template
POSTGRES_USER=administrador
POSTGRES_PASSWORD=administrador
POSTGRES_PORT=5432

# WildFly
WILDFLY_HTTP_PORT=8080
WILDFLY_MANAGEMENT_PORT=9990
WILDFLY_ADMIN_USER=admin
WILDFLY_ADMIN_PASSWORD=admin

# OpenProject
OPENPROJECT_PORT=8088
OPENPROJECT_HOST_NAME=localhost:8088
OPENPROJECT_DB=openproject
OPENPROJECT_SECRET_KEY_BASE=44b7c614a9de2fb7325a7cab4b94fe9efeb541c1c1275c7ca816e950d0e02d24eced99de0ec51cacf65bee4e8982fe2c8bc4673296a7678ece415fcbccdcbf54
OPENPROJECT_HTTPS=false


