<p>
  profiles-list works!
</p>
<button type="button" (click)="reload()">Reload</button>
<button type="button" routerLink="create">Add</button>

<table>
  <thead>
  <tr>
      <td>Name</td>
      <td>Description</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let profile of data">
      <td>{{profile.name}}</td>
      <td>{{profile.description}}</td>
      <td><a [routerLink]="['edit', profile.id]">Edit</a></td>
      <td><button (click)="delete(profile.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
