<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		">

	<security:global-method-security pre-post-annotations="enabled"/>

	<security:http pattern="/" security="none"/>
    <security:http pattern="/index.html" security="none" />
	<security:http pattern="/dashboard/**" security="none"/>
	<security:http pattern="/api/users/login" security="none"/>
	
	<!-- authentication manager -->
	<security:authentication-manager alias="authenticationManager">
	</security:authentication-manager>
</beans>
