<div class="card">
    <div class="card-header">
        Monitor
    </div>
    <div class="card-block">
        <button type="button" class="btn btn-secondary btn-sm" (click)="reload()"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i> Reload</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="export()"><i class="fa fa-file-o fa-lg" aria-hidden="true"></i> Export</button>    
    </div>
    <div class="card-block" style="padding-top: 0px">
        <div class="row">
          <div class="col-sm-12">

              <table class="table" style="padding-top: 0px; margin-top: 12px">
                  <thead>
                    <tr>
                      <th>Process</th>
                      <th>Status</th>
                      <th>Machine</th>
                      <th>Start Date</th>
                      <th>Time</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                </table>
                
          </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</div>

