<p>
  user works!
</p>
<div class="row">
  <div class="col-lg-6">
    <form role="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <fieldset class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" class="form-control"/>
        <app-control-messages [control]="formControls.username"></app-control-messages>
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" class="form-control"/>
        <app-control-messages [control]="formControls.password"></app-control-messages>
      </fieldset>
      <fieldset class="form-group">
        <label for="profile">Profile:</label>
        <select id="profile" formControlName="profile" [compareWith]="compare" class="form-control">
          <option label="Choose one"></option>
          <option *ngFor="let p of allProfiles" [ngValue]="p">{{p.name}}</option>
        </select>
        <app-control-messages [control]="formControls.profile"></app-control-messages>
      </fieldset>
      <fieldset class="form-group">
          <button type="submit" [disabled]="!userForm.valid" class="btn btn-secondary">save</button>
          <app-back-button></app-back-button>
      </fieldset>
      
    </form>
  </div>
</div>
