<p>
  properties-list works!
</p>
<button type="button" (click)="reload()">Reload</button>
<button type="button" routerLink="create">Add</button>
<table>
  <thead>
  <tr>
      <td>Property</td>
      <td>Value</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of data">
      <td>{{p.property}}</td>
      <td>{{p.value}}</td>
      <td><a [routerLink]="['edit', p.id]">Edit</a></td>
      <td><button (click)="delete(p.id)">Delete</button></td>
    </tr>
  </tbody>
</table>