<form #frm="ngForm" novalidate="novalidate" (ngSubmit)="save()">
    <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="dismiss()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 *ngIf="isNewProfile()" class="modal-title">New Profile</h3>
        <h3 *ngIf="!isNewProfile()" class="modal-title">{{profile.name}}</h3>
    </div>
    <div class="modal-body">
        <section class="form-block">
            <div class="form-group">
                <label class="required">Name:</label>
                <label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation" [class.invalid]="name.invalid && (name.dirty || name.touched)">
                    <input id="name" name="name" type="text" placeholder="name" [(ngModel)]="profile.name" #name="ngModel" required minlength="3">
                </label>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" [disabled]="!frm.valid">Save</button>
        <button class="btn btn-outline" type="button" (click)="close()">Cancel</button>
    </div>
</form>
