<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.myorganization.template.cluster" />

	<!-- Cluster -->
	<bean id="clusterIntervalValue" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="propertyService" />
		<property name="targetMethod" value="readNumericValue"/>
		<property name="arguments">
			<list>
				<value>CLUSTER_NODE_INTERVAL</value>
			</list>
		</property>
	</bean>

	<bean name="checkClusterNodeJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="clusterManager" />
		<property name="targetMethod" value="valiteNode" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="clusterTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="checkClusterNodeJob" />
		<property name="repeatInterval" ref="clusterIntervalValue" />
	</bean>

</beans>
