<!--
<p>
  dynamic-form works!
</p>
-->
<div class="row">
  <div class="col-lg-8">
    <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">

          <div *ngFor="let question of questions" class="form-row">
            <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
          </div>
      
          <br/>

      <fieldset class="form-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-secondary">execute</button>
        &nbsp;
        <app-back-button></app-back-button>
      </fieldset>
    </form>
  </div>
</div>