<p>
  profile works!
</p>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  Name: <input type="text" id="name" formControlName="name"/>
  Description: <input type="text" id="description" formControlName="description"/>
  Select Actions:
  <select id="actions" formControlName="actions" multiple [compareWith]="compare">
    <option *ngFor="let a of allActions" [ngValue]="a">{{a.description}}</option>
  </select>
  <br/>
  <button type="submit" [disabled]="!profileForm.valid">send</button>
  <app-back-button></app-back-button>
</form>
