<nav aria-label="breadcrumb ">
    <ol class="breadcrumb align-middle mb-0">
        <li *ngIf="isHome()" class="breadcrumb-item active" aria-current="page">Home</li>
        <li *ngIf="!isHome()" class="breadcrumb-item"><a routerLink="" [replaceUrl]="true">Home</a></li>
        <li class="breadcrumb-item" [ngClass]="{'active': isLast(i)}" [attr.aria-current]="isLast(i) ? 'page' : ''" *ngFor="let h of heading;let i=index">
            <a *ngIf="!isLast(i)" routerLink=".." [replaceUrl]="true">{{h}}</a>
            <span *ngIf="isLast(i)">{{h}}</span>
        </li>
    </ol>
</nav>
